PORT=3002
# PostgreSQL Connection URL format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@orders-db:5432/orders?schema=public"
PRODUCTS_SERVICE_URL="http://products-service:3001"
