PORT=3002
# URL para conectarse al PostgreSQL expuesto localmente por Docker en el puerto 5435
DATABASE_URL="postgresql://postgres:rootpassword@localhost:5435/orders?schema=public"

# URL absoluta para consumo síncrono del Products-Service nativo
PRODUCTS_SERVICE_URL="http://localhost:3001/api/v1"
